@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body

a{text-decoration: none}

.cardlist {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  border-radius: 15px;
}

.card {
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 300px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 15px;
  background: #64485C;
  box-shadow: -1rem 0 2rem #000;

  transition: .2s;
}

.cardlist::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.cardlist::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #64485C;
  box-shadow: 2rem 2 25rem #000;
}

.card:hover{
  transform: translateY(-2rem);
  background : #2E1114;"
}

.card:hover~.card{
  transform: translateX(130px);
}

.card:not(:first-child){
  margin-left: -130px;
}

.titlecardlist {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  border-radius: 15px;
}

.titlecard {
  position: relative;
  flex-direction: row;
  height: 150px;
  width: 250px;
  min-height: 150px;
  min-width: 150px;
  padding: 1.5rem;
  border-radius: 15px;
  background: #64485C;
  box-shadow: -1rem 0 2rem #000;

  transition: .2s;
}

.titlecardlist::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.titlecardlist::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #64485C;
  box-shadow: 2rem 2 25rem #000;
}

.titlecard:hover {
  transform: translateY(-2rem);
  height: 500px;
  width: 800px;
  min-width: 400px;
  background: #501B1D;"
  }

.titlecard:hover~.card{
  transform: translateX(130px);
}

.titlecard:not(:first-child){
  margin-left: 30px;
}
